# Dépendances
node_modules/

# Build (le dossier généré pour la production)
dist/
build/

# Environnement (clés secrètes, etc.)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Audios 
uploads/